<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Management System</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>

    <!-- Side Menu -->
    <div class="sidebar" id="sidebar">
      <button class="menu-toggle" id="menu-toggle">☰</button>
      <ul>
        <li>
          <a href="index.html"><span>🏠</span><span class="menu-text">Overview</span></a>
        </li>
        <li>
          <a href="products.html"><span>📦</span><span class="menu-text">Products</span></a>
        </li>
        <li><a href="categories.html"><span>📂</span><span class="menu-text">Categories</span></a></li>
        <li>
          <a href="orders.html"><span>📝</span><span class="menu-text">Orders</span></a>
        </li>
        <li>
          <a href="#"
            ><span>🔄</span><span class="menu-text">Subscriptions</span></a
          >
        </li>
        <li>
          <a href="customers.html"
            ><span>👥</span><span class="menu-text">Customers</span></a
          >
        </li>
        <li>
          <a href="#"><span>📜</span><span class="menu-text">Licenses</span></a>
        </li>
        <li>
          <a href="#"><span>📧</span><span class="menu-text">Emails</span></a>
        </li>
        <li>
          <a href="#"><span>📊</span><span class="menu-text">Reports</span></a>
        </li>
        <li>
          <a href="#"><span>🎨</span><span class="menu-text">Design</span></a>
        </li>
        <li>
          <a href="#"><span>⚙️</span><span class="menu-text">Settings</span></a>
        </li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content" id="main-content">
      <section class="overv">
        <div>
          <div class="box-back"></div>
          <div class="box-back"></div>
          <div class="box-back"></div>
          <div class="box-back"></div>
        </div>
      </section>
      <header>
        <h1>Inventory Management System</h1>
        <button id="theme-toggle">🌙</button>
      </header>

    <script src="../static/script.js"></script>
  </body>
</html>
